sources:
  - id: "crm-csv"
    type: "Plugins.CsvSource"
    config:
      path: "./input/data.csv"
      delimiter: ";"

destinations:
  - id: "erp-api"
    type: "Plugins.HttpDestination"
    config: 
      url: "https://api.erp.com"
      method: "POST"

pipelines:
  - id: "sync-clientes"
    source: "crm-csv"
    destinations: ["erp-api"]
    mapping: 
      external_id: "{{ source.codigo }}"
      full_name: "{{ source.nome | upcase }} {{ source.sobrenome }}"
      meta:
        sync_date: "{{ 'now' | date: '%Y-%m-%d' }}"
